// Color
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(218, 255, 246);
$color-grey-medium: #ddd;
$color-grey-light: #efefef;
$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-red-light: #e60023;
$color-red-dark: #c00;

$color-yellow: #e3780c;
$color-yellow-light: rgb(255, 253, 146);
$color-blue: #0074e8;
$color-blue-medium: #1877f2;
$color-blue-light: #1da1f294;
$color-green-light: #0fa573;
$color-green-dark: #0a6955;

$color-white: #fff;
$color-black: #000;

$color-red-rose: rgb(195, 25, 82);
$color-pink: rgb(255, 226, 235);
// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
