.section-work {
  width: 100%;
  height: 100vh;
  background-color: $color-yellow-light;
  scroll-snap-align: start;
}

.section-collect {
  width: 100%;
  height: 100vh;
  background-color: $color-grey-light-3;
  scroll-snap-align: start;
}

.section-new {
  width: 100%;
  height: 100vh;
  background-color: $color-pink;
  scroll-snap-align: start;
}

.section-signup {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
